<% if (type === 'navbar') { %><div class="container">
  <div class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        {{link-to "<%= classifiedPackageName %>" "application" classNames="navbar-brand"}}
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          {{#link-to "application" tagName="li"}}<a href>Home</a>{{/link-to}}
          {{#link-to "" tagName="li"}}<a href>About</a>{{/link-to}}
          {{#link-to "" tagName="li"}}<a href>Contact</a>{{/link-to}}
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li class="divider"></li>
              <li class="dropdown-header">Nav header</li>
              <li><a href="#">Separated link</a></li>
              <li><a href="#">One more separated link</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>

  {{outlet}}
</div><% } else if (type === 'navbar-fixed') { %><div class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      {{link-to "<%= classifiedPackageName %>" "application" classNames="navbar-brand"}}
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        {{#link-to "application" tagName="li"}}<a href>Home</a>{{/link-to}}
        {{#link-to "" tagName="li"}}<a href>About</a>{{/link-to}}
        {{#link-to "" tagName="li"}}<a href>Contact</a>{{/link-to}}
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li class="dropdown-header">Nav header</li>
            <li><a href="#">Separated link</a></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="../navbar/">Default</a></li>
        <li><a href="../navbar-static-top/">Static top</a></li>
        <li class="active"><a href="./">Fixed top</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="container">
  {{outlet}}
</div><% } else if (type === 'sign-in') { %><div class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <form role="form" {{action "signIn" on="submit"}}>
        <h1>Please sign in</h1>
        <div class="form-group">
          {{input type="email"
                  value=email
                  required=true
                  autofocus=true
                  placeholder="Email address"
                  classNames="form-control"}}
        </div>
        <div class="form-group">
          {{input type="text"
                  value=password
                  required=true
                  placeholder="Password"
                  classNames="form-control"}}
        </div>
        <div class="checkbox">
          <label>
            {{input type="checkbox"
                    checked=rememberMe}}
            Remember me
          </label>
        </div>
        <button type="submit" class="btn btn-lg btn-primary btn-block">Sign in</button>
      </form>
    </div>
  </div>
</div><% } else { %><div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      {{link-to "<%= classifiedPackageName %>" "application" classNames="navbar-brand"}}
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        {{#link-to "application" tagName="li"}}<a href>Home</a>{{/link-to}}
        {{#link-to "" tagName="li"}}<a href>About</a>{{/link-to}}
        {{#link-to "" tagName="li"}}<a href>Contact</a>{{/link-to}}
      </ul>
    </div>
  </div>
</div>

<div class="container">
  <div>
    <h1><%= classifiedPackageName %></h1>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </div>

  {{outlet}}
</div><% } %>
